@media screen and (max-width: 767px) {
    .container {
        width: 100%;
        padding: 0 15px;
        margin: 0 auto;
    }

    /* header starts */

    .hamburger {
        display: block;
    }

    .main_header_sec {
        height: 100px;
    }

    .main_nav {
        display: none;
    }

    .contact_info {
        display: none;
    }

    /* header ends */

    /* hero section starts */

    .hero_content img {
        display: none;
    }

    .hero_content p {
        font-size: 20px;
    }

    /* hero section starts */

    /* homes section starts */

    .homes_sec {
        height: auto;
        padding-block: 60px;
    }

    .home_cards {
        flex-wrap: wrap;
    }

    .home_card {
        width: 100%;
        padding-inline: 11px;
        padding-block: 11px 20px;
    }

    .home_card_image {
        width: 100%;
        margin-top: 0;
    }

    .home_card_content {
        padding-inline: 5px;
        text-align: center;
    }

    .home_card_content .home_card_heading {
        display: block;
    }

    .home_card_heading p {
        margin-left: 0;
        margin-top: 6px;
    }

    .home_card .skyper {
        background-size: cover;
        background-position: center;
    }

    .home_card .north {
        background-size: cover;
        background-position: center;
    }

    .home_card .eaton {
        background-size: cover;
        background-position: center;
    }

    /* homes section starts */

    /* local expertise starts */

    .local_expertise_sec {
        height: auto;
        padding: 60px 0;
    }

    .local_exp_main_sec{
        flex-direction: column;
        gap: 60px;
    }

    .local_exp_image img{
        width: 100%;
        object-fit: cover;
    }

    .local_expertise{
        display: none;
    } 

    .local_exp_content{
        text-align: center;
    }

    .local_exp_content h2{
        width: 100%;
        font-size: 33px;
    }

    .local_exp_content p{
        width: 100%;
    }

    /* local expertise ends */


    /* company section starts */

    .company_sec{
        height: auto;
        padding: 50px 0;
    }

    .company_names{
        gap: 30px;
    }

    /* company section ends */

    


    /* team section starts */

    .team_experts_cards{
        flex-wrap: wrap;
    }

    .team_expert_card{
        width: 100%;
        height: auto;
    }

    .team_expert_card .expert_name{
        text-align: center;
    }

    /* team section ends */
}