@media screen and (max-width: 767px) {
    .container {
        width: 100%;
        padding: 0 15px;
        margin: 0 auto;
    }

    /* header starts */

    .hamburger {
        display: block;
    }

    .main_header_sec {
        height: 100px;
    }

    .main_nav {
        display: none;
    }

    .contact_info {
        display: none;
    }

    /* header ends */

    /* hero section starts */

    .hero_content img {
        display: none;
    }

    .hero_content p {
        font-size: 20px;
    }

    /* hero section starts */

    /* homes section starts */

    .homes_sec {
        height: auto;
        padding-block: 60px;
    }

    .home_cards {
        flex-wrap: wrap;
    }

    .home_card {
        width: 100%;
        padding-inline: 11px;
        padding-block: 11px 20px;
    }

    .home_card_image {
        width: 100%;
        margin-top: 0;
    }

    .home_card_content {
        padding-inline: 5px;
        text-align: center;
    }

    .home_card_content .home_card_heading {
        display: block;
    }

    .home_card_heading p {
        margin-left: 0;
        margin-top: 6px;
    }

    .home_card .skyper {
        background-size: cover;
        background-position: center;
    }

    .home_card .north {
        background-size: cover;
        background-position: center;
    }

    .home_card .eaton {
        background-size: cover;
        background-position: center;
    }

    /* homes section starts */

    /* local expertise starts */

    .local_expertise_sec {
        height: auto;
        padding: 60px 0;
    }

    .local_exp_main_sec {
        flex-direction: column;
        gap: 20px;
    }

    .local_exp_image img {
        width: 100%;
        object-fit: cover;
    }

    .local_expertise {
        display: none;
    }

    .local_exp_content {
        text-align: center;
    }

    .local_exp_content h2 {
        width: 100%;
        font-size: 33px;
    }

    .local_exp_content p {
        width: 100%;
    }

    /* local expertise ends */


    /* company section starts */

    .company_sec {
        height: auto;
        padding: 50px 0;
    }

    .company_names {
        gap: 30px;
    }

    /* company section ends */

    /* featured properties section starts */

    .featured_properties_sec {
        height: 100%;
        padding-block: 50px;
    }

    .featured_properties_cards {
        flex-wrap: wrap;
    }

    .featured_property_card {
        width: 100%;
        padding-inline: 11px;
        align-items: center;
        height: auto;
        padding-block: 0 20px;
    }

    .featured_property_card_image {
        width: 100%;
        margin-left: 0;
    }

    .featured_property_card_content {
        text-align: center;
        padding-inline: 12px;
    }

    .featured_property_card_details {
        justify-content: center;
    }

    /* featured properties section ends */

    /* customer review section starts */

    .customer_review_sec {
        height: auto;
        padding-block: 90px 100px;
    }

    .customer_review_heading_sec {
        flex-direction: column;
        padding-bottom: 0;
        padding-right: 0;
    }

    .customer_heading h2 {
        width: 100%;
        text-align: center;
        font-size: 30px;
    }

    .customer_review_content {
        margin-block: 30px 40px;
        align-items: center;
    }

    .customer_review_cards {
        flex-wrap: wrap;
    }

    .customer_review_cards .customer_review_card {
        width: 100%;
        padding: 30px 20px;
        height: auto;
    }

    .customer_review_mix_content .customer_review_quote img {
        display: none;
    }

    .customer_review_card .customer_review_mix_content {
        justify-content: center;
    }

    .customer_review_card_content p {
        text-align: center;
    }

    /* customer review section ends */

    /* team section starts */

    .team_experts_cards {
        flex-wrap: wrap;
    }

    .team_expert_card {
        width: 100%;
        height: auto;
    }

    .team_expert_card .expert_name {
        text-align: center;
    }

    /* team section ends */

    /* discover section starts */

    .discover_main_sec {
        flex-direction: column-reverse;
        gap: 50px;
        height: auto;
        padding-bottom: 60px;
    }

    .discover_main_sec .discover_img img {
        border-top-left-radius: 16px;
        border-bottom-right-radius: 0;
        height: auto;
    }

    .discover_main_sec .discover_content {
        padding-left: 0;
        text-align: center;
        padding-inline: 10px;
    }

    .discover_main_sec .discover_content h2 {
        width: 100%;
    }

    .discover_main_sec .discover_content p {
        width: 100%;
    }

    /* discover section ends */

    /* real estate section starts */
    .real_estate_heading ul {
        gap: 20px;
    }

    .real_estate_heading .real {
        width: 61.58px;
    }

    .real_estate_groups {
        gap: 30px;
    }

    /* real estate section ends */
}