@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
}

.container {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    /* padding: 0 15px; */
}

/* header starts */

.main_header_sec {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 82px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 80px;
}

.main_nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    list-style: none;
}

.main_nav ul li a {
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 30.4px;
    vertical-align: middle;
    text-transform: capitalize;
    color: rgba(26, 26, 26, 1);
    ;
}

.main_nav ul li a i {
    vertical-align: middle;
    font-size: 13px;
    position: relative;
    top: -4px;
}

.contact_info {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.contact_info .phone i {
    margin-right: 14px;
    vertical-align: middle;
}

.contact_info .phone span {
    font-weight: 500;
    font-size: 16px;
    line-height: 19.2px;
    vertical-align: middle;
    color: rgba(26, 26, 26, 1);
    ;
}

.contact_info .user {
    border: 1px solid rgba(235, 235, 235, 1);
    padding: 10px 12px;
    border-radius: 20px;
}

.contact_info .property_btn button {
    border: none;
    background: rgba(247, 246, 247, 1);
    padding: 6.75px 33.66px 7.25px 26px;
    border-radius: 50px;
    font-weight: 500;
    font-size: 15px;
    line-height: 28.5px;
    text-align: center;
    vertical-align: middle;
}

/* Hamburger Icon */
.hamburger {
    display: none;
    font-size: 24px;
    cursor: pointer;
}

/* header ends */

/* hero section starts */

.hero {
    background: url(../images/hero-bg.jpg);
    height: 700px;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 24px;
    display: flex;
    align-items: center;
}

.hero_content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    text-align: center;
}

.hero_content img {
    width: 900px;
    height: 146.8px;
}

.hero_content button {
    border: 1px solid rgba(255, 255, 255, 1);
    padding: 1px 25.68px 1px 26px;
    background: transparent;
    border-radius: 50px;
    font-weight: 500;
    font-size: 13px;
    line-height: 38px;
    text-align: center;
    vertical-align: middle;
    color: rgba(255, 255, 255, 1);

}

.hero_content h2 {
    font-weight: 500;
    font-size: 60px;
    line-height: 60px;
    vertical-align: middle;
    color: rgba(255, 255, 255, 1);
}

.hero_content p {
    font-weight: 400;
    font-size: 15px;
    line-height: 21px;
    vertical-align: middle;
    color: rgba(255, 255, 255, 1);
    margin-bottom: 50px;
}

/* hero section ends */

/* feature categories section starts */

.feature_main_sec {
    margin-block: 150px 165px;
}

.feature_heading {
    text-align: center;
}

.feature_heading h2 {
    font-weight: 500;
    font-size: 40px;
    line-height: 52px;
    vertical-align: middle;
    color: rgba(26, 26, 26, 1);
}

.feature_heading p {
    font-weight: 400;
    font-size: 17px;
    line-height: 32.3px;
    vertical-align: middle;
    color: rgba(26, 26, 26, 1);
}

.feature_cards {
    margin-top: 39px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.feature_card {
    width: 256px;
    height: 338.10px;
    border-radius: 16px;
}

.feature_cards .town_house {
    background: url(../images/feature-sec-town-house.jpg);
}

.feature_cards .modern_villa {
    background: url(../images/feature-sec-modern-villa.jpg);
}

.feature_cards .apartment {
    background: url(../images/feature-sec-apartment.jpg);
}

.feature_cards .single_family {
    background: url(../images/feature-sec-single-family.jpg);
}

.feature_cards .office {
    background: url(../images/feature-sec-office.jpg);
}

.feature_card_content {
    padding: 40px 0 0 40px;
}

.feature_card_content h4 {
    font-weight: 500;
    font-size: 19px;
    line-height: 22.8px;
    vertical-align: middle;
}

.feature_card_content p {
    font-weight: 400;
    font-size: 15px;
    line-height: 28.5px;
    vertical-align: middle;
    margin-top: 9px;
}


/* feature categories section ends */

/* homes section start */

.homes_sec {
    height: 902.69px;
    display: flex;
    align-items: center;
    background: rgba(249, 249, 249, 1);
    border-radius: 24px;
    width: 100%;
}

.homes_heading_content {
    text-align: center;
    margin-bottom: 30px;
}

.homes_heading_content h2 {
    font-weight: 500;
    font-size: 40px;
    line-height: 52px;
    vertical-align: middle;
    color: rgba(26, 26, 26, 1);
}

.homes_heading_content p {
    font-weight: 400;
    margin-top: 4px;
    font-size: 17px;
    line-height: 32.3px;
    vertical-align: middle;
    color: rgba(26, 26, 26, 1);

}

.home_cards {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.home_cards .home_card {
    width: 447px;
    height: 453.39px;
    border: 1px solid rgba(233, 233, 233, 1);
    background: rgba(255, 255, 255, 1);
    border-radius: 16px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.home_card_image {
    border-radius: 16px;
    width: 425px;
    height: 296.5px;
    margin-top: 11px;
}

.home_card .skyper{
    background: url(../images/homes-skyper-pool-apartment.jpg);
}

.home_card .north{
    background: url(../images/homes-north-dillard-street.jpg);
}

.home_card .eaton{
    background: url(../images/homes-eaton-garth-penthouse.jpg);
}

.home_card_image .featured{
    background: rgba(231, 200, 115, 1);
    color: rgba(26, 26, 26, 1);
    margin-left: 10px;
}

.home_card_image button {
    margin-left: 20px;
    margin-top: 23px;

    font-weight: 500;
    font-size: 13px;
    line-height: 33px;
    vertical-align: middle;
    text-transform: uppercase;
    border: none;
    background: rgba(31, 75, 67, 1);
    padding-inline: 15px 14.62px;
    border-radius: 33px;
    color: rgba(255, 255, 255, 1);
;
}

.home_card_content {
    padding-inline: 31px;
}

.home_card_content .home_card_heading {
    margin-top: 19px;
}

.home_card_heading h2 {
    font-weight: 500;
    font-size: 19px;
    line-height: 22.8px;
    vertical-align: middle;
}

.home_card_heading h2 span {
    font-weight: 600;
    font-size: 21px;
    line-height: 31.5px;
    vertical-align: middle;
    color: rgba(235, 102, 78, 1);
    margin-left: 87px;
}

.home_card_location p i {
    color: rgba(26, 26, 26, 1);
    width: 17.33px;
    height: 20px;
}

.home_card_location p {
    font-weight: 400;
    font-size: 16px;
    line-height: 30.4px;
    vertical-align: middle;
}

.home_card_details {
    display: flex;
    gap: 15px;
    margin-top: 20px;
}

.home_card_details .home_beds {
    border-right: 1px solid rgba(233, 233, 233, 1);
    /* margin-right: 16px; */
}

.home_beds p {
    font-weight: 400;
    font-size: 16px;
    line-height: 17.6px;
    vertical-align: middle;
    margin-right: 16px;
}

.home_beds p i {
    height: 20px;
    width: 20px;
    margin-right: 9px;
}

.home_card_details .home_baths {
    border-right: 1px solid rgba(233, 233, 233, 1);
    /* margin-right: 16px; */
}

.home_baths p {
    font-weight: 400;
    font-size: 16px;
    line-height: 17.6px;
    vertical-align: middle;
    margin-right: 16px;
}

.home_baths p i {
    height: 20px;
    width: 20px;
    margin-right: 9px;
}

.home_feet p {
    font-weight: 400;
    font-size: 16px;
    line-height: 17.6px;
    vertical-align: middle;
    margin-right: 16px;
}

.home_feet p i {
    height: 20px;
    width: 20px;
    margin-right: 9px;
}

/* homes section ends */