@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    max-width: 2000px;
    margin: 0 auto;
}

.container {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    /* padding: 0 15px; */
}

/* header starts */

.main_header_sec {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 82px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 80px;
}

.main_nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    list-style: none;
}

.main_nav ul li a {
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 30.4px;
    vertical-align: middle;
    text-transform: capitalize;
    color: rgba(26, 26, 26, 1);
    ;
}

.main_nav ul li a i {
    vertical-align: middle;
    font-size: 13px;
    position: relative;
    top: -4px;
}

.contact_info {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.contact_info .phone i {
    margin-right: 14px;
    vertical-align: middle;
}

.contact_info .phone span {
    font-weight: 500;
    font-size: 16px;
    line-height: 19.2px;
    vertical-align: middle;
    color: rgba(26, 26, 26, 1);
    ;
}

.contact_info .user {
    border: 1px solid rgba(235, 235, 235, 1);
    padding: 10px 12px;
    border-radius: 20px;
}

.contact_info .property_btn button {
    border: none;
    background: rgba(247, 246, 247, 1);
    padding: 6.75px 33.66px 7.25px 26px;
    border-radius: 50px;
    font-weight: 500;
    font-size: 15px;
    line-height: 28.5px;
    text-align: center;
    vertical-align: middle;
}

/* Hamburger Icon */
.hamburger {
    display: none;
    font-size: 24px;
    cursor: pointer;
}

/* header ends */

/* hero section starts */

.hero {
    background: url(../images/hero-bg.jpg);
    height: 700px;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 24px;
    display: flex;
    align-items: center;
}

.hero_content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    text-align: center;
}

.hero_content img {
    width: 900px;
    height: 146.8px;
}

.hero_content button {
    border: 1px solid rgba(255, 255, 255, 1);
    padding: 1px 25.68px 1px 26px;
    background: transparent;
    border-radius: 50px;
    font-weight: 500;
    font-size: 13px;
    line-height: 38px;
    text-align: center;
    vertical-align: middle;
    color: rgba(255, 255, 255, 1);

}

.hero_content h2 {
    font-weight: 500;
    font-size: 60px;
    line-height: 60px;
    vertical-align: middle;
    color: rgba(255, 255, 255, 1);
}

.hero_content p {
    font-weight: 400;
    font-size: 15px;
    line-height: 21px;
    vertical-align: middle;
    color: rgba(255, 255, 255, 1);
    margin-bottom: 50px;
}

/* hero section ends */

/* main starts */

/* feature categories section starts */

.feature_main_sec {
    margin-block: 150px 165px;
}

.feature_heading {
    text-align: center;
}

.feature_heading h2 {
    font-weight: 500;
    font-size: 40px;
    line-height: 52px;
    vertical-align: middle;
    color: rgba(26, 26, 26, 1);
}

.feature_heading p {
    font-weight: 400;
    font-size: 17px;
    line-height: 32.3px;
    vertical-align: middle;
    color: rgba(26, 26, 26, 1);
}

.feature_cards {
    margin-top: 39px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.feature_card {
    width: 256px;
    height: 338.10px;
    border-radius: 16px;
}

.feature_cards .town_house {
    background: url(../images/feature-sec-town-house.jpg);
}

.feature_cards .modern_villa {
    background: url(../images/feature-sec-modern-villa.jpg);
}

.feature_cards .apartment {
    background: url(../images/feature-sec-apartment.jpg);
}

.feature_cards .single_family {
    background: url(../images/feature-sec-single-family.jpg);
}

.feature_cards .office {
    background: url(../images/feature-sec-office.jpg);
}

.feature_card_content {
    padding: 40px 0 0 40px;
}

.feature_card_content h4 {
    font-weight: 500;
    font-size: 19px;
    line-height: 22.8px;
    vertical-align: middle;
}

.feature_card_content p {
    font-weight: 400;
    font-size: 15px;
    line-height: 28.5px;
    vertical-align: middle;
    margin-top: 9px;
}


/* feature categories section ends */

/* homes section start */

.homes_sec {
    height: 902.69px;
    display: flex;
    align-items: center;
    background: rgba(249, 249, 249, 1);
    border-radius: 24px;
    width: 100%;
}

.homes_heading_content {
    text-align: center;
    margin-bottom: 30px;
}

.homes_heading_content h2 {
    font-weight: 500;
    font-size: 40px;
    line-height: 52px;
    vertical-align: middle;
    color: rgba(26, 26, 26, 1);
}

.homes_heading_content p {
    font-weight: 400;
    margin-top: 4px;
    font-size: 17px;
    line-height: 32.3px;
    vertical-align: middle;
    color: rgba(26, 26, 26, 1);

}

.home_cards {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.home_cards .home_card {
    width: 447px;
    height: 453.39px;
    border: 1px solid rgba(233, 233, 233, 1);
    background: rgba(255, 255, 255, 1);
    border-radius: 16px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.home_card_image {
    border-radius: 16px;
    width: 425px;
    height: 296.5px;
    margin-top: 11px;
}

.home_card .skyper {
    background: url(../images/homes-skyper-pool-apartment.jpg);
}

.home_card .north {
    background: url(../images/homes-north-dillard-street.jpg);
}

.home_card .eaton {
    background: url(../images/homes-eaton-garth-penthouse.jpg);
}

.home_card_image .featured {
    background: rgba(231, 200, 115, 1);
    color: rgba(26, 26, 26, 1);
    margin-left: 10px;
}

.home_card_image button {
    margin-left: 20px;
    margin-top: 23px;

    font-weight: 500;
    font-size: 13px;
    line-height: 33px;
    vertical-align: middle;
    text-transform: uppercase;
    border: none;
    background: rgba(31, 75, 67, 1);
    padding-inline: 15px 14.62px;
    border-radius: 33px;
    color: rgba(255, 255, 255, 1);
    ;
}

.home_card_content {
    padding-inline: 31px;
}

.home_card_content .home_card_heading {
    margin-top: 19px;
    display: inline-flex;
}

.home_card_heading h2 {
    font-weight: 500;
    font-size: 19px;
    line-height: 22.8px;
    vertical-align: middle;
}

.home_card_heading p {
    font-weight: 600;
    font-size: 21px;
    line-height: 31.5px;
    vertical-align: middle;
    color: rgba(235, 102, 78, 1);
    margin-left: 85px;
}

.home_card_heading p .month {

    font-weight: 400;
    font-size: 14.7px;
    line-height: 22.05px;
    vertical-align: middle;

}

.home_card_location p i {
    color: rgba(26, 26, 26, 1);
    width: 17.33px;
    height: 20px;
}

.home_card_location p {
    font-weight: 400;
    font-size: 16px;
    line-height: 30.4px;
    vertical-align: middle;
}

.home_card_details {
    display: flex;
    gap: 15px;
    margin-top: 20px;
}

.home_card_details .home_beds {
    border-right: 1px solid rgba(233, 233, 233, 1);
    /* margin-right: 16px; */
}

.home_beds p {
    font-weight: 400;
    font-size: 16px;
    line-height: 17.6px;
    vertical-align: middle;
    margin-right: 16px;
}

.home_beds p i {
    height: 20px;
    width: 20px;
    margin-right: 9px;
}

.home_card_details .home_baths {
    border-right: 1px solid rgba(233, 233, 233, 1);
    /* margin-right: 16px; */
}

.home_baths p {
    font-weight: 400;
    font-size: 16px;
    line-height: 17.6px;
    vertical-align: middle;
    margin-right: 16px;
}

.home_baths p i {
    height: 20px;
    width: 20px;
    margin-right: 9px;
}

.home_feet p {
    font-weight: 400;
    font-size: 16px;
    line-height: 17.6px;
    vertical-align: middle;
}

.home_feet p i {
    height: 20px;
    width: 20px;
    margin-right: 9px;
}

/* homes section ends */

/* local expertise starts */

.local_expertise_sec {
    display: flex;
    align-items: center;
    height: 902.69px;
}

.local_exp_main_sec {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
}

.local_exp_image {
    position: relative;
}

.local_exp_image .local_expertise {
    position: absolute;
    top: 20px;
    left: 20px;
}

.local_exp_content h2 {
    width: 334.57px;
    font-weight: 500;
    font-size: 40px;
    line-height: 52px;
    vertical-align: middle;
    color: rgba(26, 26, 26, 1);
}

.local_exp_content p {
    margin-top: 19px;
    margin-bottom: 30px;
    font-weight: 400;
    font-size: 16px;
    line-height: 30.4px;
    vertical-align: middle;
    color: rgba(26, 26, 26, 1);
    width: 603.65px;
}

.local_exp_content button {
    border: 1px solid rgba(26, 26, 26, 1);
    text-decoration: none;
    color: rgba(255, 255, 255, 1);
    font-weight: 500;
    font-size: 15px;
    line-height: 52px;
    text-align: center;
    vertical-align: middle;
    padding: 1px 30px 1px 30px;
    border-radius: 12px;
    background: rgba(26, 26, 26, 1);
}

/* local expertise ends */

/* company section starts */

.company_sec {
    margin-block: 60px 0;
    height: 314.30px;
    background: rgba(26, 26, 26, 1);
    display: flex;
    align-items: center;
}

.company_heading p {
    font-weight: 400;
    font-size: 17px;
    line-height: 32.3px;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;
    color: rgba(255, 255, 255, 1);
}

.company_names {
    padding-top: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

/* company section ends */

/* featured properties section starts */

.featured_properties_sec {
    height: 850px;
    display: flex;
    align-items: center;
}

.featured_property_heading_content {
    text-align: center;
    margin-bottom: 30px;
}

.featured_property_heading_content h2 {
    font-weight: 500;
    font-size: 40px;
    line-height: 52px;
    vertical-align: middle;
    color: rgba(26, 26, 26, 1);
}

.featured_property_heading_content p {
    font-weight: 400;
    margin-top: 4px;
    font-size: 17px;
    line-height: 32.3px;
    vertical-align: middle;
    color: rgba(26, 26, 26, 1);

}

.featured_properties_cards {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.featured_property_card {
    width: 328px;
    height: 383.27px;
    border-radius: 16px;
    border: 1px solid rgba(233, 233, 233, 1);
    background: rgba(255, 255, 255, 1);
    border-radius: 16px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.featured_property_card_image {
    border-radius: 16px;
    width: 306px;
    height: 213.49px;
    margin-top: 11px;
    margin-left: 11px;
}

.feature_skyper {
    background: url(../images/homes-skyper-pool-apartment.jpg);
    background-size: cover;
    background-position: center;
}

.north {
    background: url(../images/homes-north-dillard-street.jpg);
    background-size: cover;
    background-position: center;
}

.eaton {
    background: url(../images/homes-eaton-garth-penthouse.jpg);
    background-size: cover;
    background-position: center;
}

.new_apartment {
    background: url(../images/feature-sec-new-apartment.jpg);
    background-size: cover;
    background-position: center;
}

.featured_property_card_image button {
    margin-left: 20px;
    margin-top: 23px;
    font-weight: 500;
    font-size: 13px;
    line-height: 33px;
    vertical-align: middle;
    text-transform: uppercase;
    border: none;
    background: rgba(31, 75, 67, 1);
    padding-inline: 15px 14.62px;
    border-radius: 33px;
    color: rgba(255, 255, 255, 1);
}


.featured_property_card_image .featured {
    background: rgba(231, 200, 115, 1);
    color: rgba(26, 26, 26, 1);
    margin-left: 10px;
}

.featured_property_card_heading p .month {
    font-weight: 400;
    font-size: 13.3px;
    line-height: 19.95px;
    vertical-align: middle;
}

.featured_property_card_content {
    margin-top: 14px;
    padding-inline: 21px;
}

.featured_property_card_heading p {
    font-weight: 600;
    font-size: 19px;
    line-height: 28.5px;
    vertical-align: middle;
    color: rgba(235, 102, 78, 1);
    margin-bottom: 4px;
}

.featured_property_card_heading h2 {
    font-weight: 500;
    font-size: 19px;
    line-height: 22.8px;
    vertical-align: middle;
    color: rgba(26, 26, 26, 1);
}

.featured_property_card_location p {
    font-weight: 400;
    font-size: 15px;
    line-height: 28.5px;
    vertical-align: middle;
    margin-top: 5px;
}

.featured_property_card_details {
    display: flex;
    gap: 15px;
    align-items: center;
    margin-top: 15px;
}

.featured_property_beds {
    border-right: 1px solid rgba(233, 233, 233, 1);
}

.featured_property_beds p {
    margin-right: 15px;
    font-weight: 400;
    font-size: 15px;
    line-height: 16.5px;
    vertical-align: middle;
}

.featured_property_beds p i {
    margin-right: 10px;
}

.featured_property_baths {
    border-right: 1px solid rgba(233, 233, 233, 1);
}

.featured_property_baths p {
    margin-right: 15px;
    font-weight: 400;
    font-size: 15px;
    line-height: 16.5px;
    vertical-align: middle;
}

.featured_property_baths p i {
    margin-right: 10px;
}

/* featured properties section ends */

/* customer review section starts */

.customer_review_sec {
    background: rgba(249, 249, 249, 1);
    width: 100%;
    height: 855px;
    border-radius: 16px;
    display: flex;
    align-items: center;
}

.customer_review_heading_sec {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 65px;
    padding-bottom: 45px;
}

.customer_review_content {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 65px;
}

.customer_heading h2 {
    color: rgba(26, 26, 26, 1);
    font-weight: 500;
    font-size: 40px;
    line-height: 52px;
    vertical-align: middle;
    width: 450px;
}

.customer_review_content .customer h3 {
    font-weight: 500;
    font-size: 26px;
    line-height: 33.8px;
    vertical-align: middle;
    color: rgba(26, 26, 26, 1);
}

.customer_review_content .customer p {
    font-weight: 400;
    font-size: 15px;
    line-height: 37.5px;
    vertical-align: middle;
}

.customer_review_content .customer img {
    margin-top: 5px;
}

.customer_review_cards {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.customer_review_cards .customer_review_card {
    width: 447px;
    height: 351.48px;
    border-radius: 16px;
    background: rgba(255, 255, 255, 1);
    padding: 40px;
}

.customer_review_card .customer_review_mix_content {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.cutomer_img_mix_content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.cutomer_img_mix_content .cutomer_name h3 {
    font-weight: 500;
    font-size: 16px;
    line-height: 19.2px;
    vertical-align: middle;
    color: rgba(26, 26, 26, 1);
}

.cutomer_img_mix_content .cutomer_name p {
    font-weight: 400;
    font-size: 15px;
    line-height: 28.5px;
    vertical-align: middle;
    color: rgba(26, 26, 26, 1);
}

.customer_review_mix_content .customer_review_quote img {
    margin-top: 4px;
}

.customer_review_card_content p {
    margin-top: 30px;
    font-weight: 400;
    font-size: 17px;
    line-height: 32.3px;
    vertical-align: middle;
    color: rgba(26, 26, 26, 1);
}

/* customer review section ends */

/* team section starts */

.team_sec {
    padding-block: 100px 130px;
}

.team_sec_heading h2 {
    font-weight: 500;
    font-size: 40px;
    line-height: 52px;
    text-align: center;
    vertical-align: middle;
}

.team_sec_heading p {
    font-weight: 400;
    font-size: 17px;
    line-height: 32.3px;
    text-align: center;
    vertical-align: middle;
    padding-bottom: 40px;
}

.team_experts_cards {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.team_expert_card {
    width: 328px;
    height: 476.25px;
}

.team_expert_card .expert_image img {
    width: 100%;
    border-radius: 16px;
}

.team_expert_card .expert_name h2 {
    padding-block: 19px 5px;
    font-weight: 500;
    font-size: 21px;
    line-height: 25.2px;
    vertical-align: middle;
    color: rgba(26, 26, 26, 1);
}

.team_expert_card .expert_name p {
    font-weight: 400;
    font-size: 15px;
    line-height: 28.5px;
    vertical-align: middle;
    color: rgba(26, 26, 26, 1);
}

/* team section ends */

/* discover section starts */

.discover_sec {
    display: flex;
    align-items: center;
    margin-bottom: 150px;
}

.discover_main_sec {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgba(249, 249, 249, 1);
    height: 567px;
    border-radius: 16px;
}

.discover_main_sec .discover_content {
    padding-left: 86px;
}

.discover_main_sec .discover_content h2 {
    font-weight: 500;
    font-size: 40px;
    line-height: 52px;
    vertical-align: middle;
    color: rgba(26, 26, 26, 1);
    width: 450px;
    margin-bottom: 19px;
}

.discover_main_sec .discover_content p {
    font-weight: 400;
    font-size: 16px;
    line-height: 30.4px;
    vertical-align: middle;
    margin-bottom: 30px;
    width: 436px;
}

.discover_main_sec .discover_content button {
    font-weight: 500;
    font-size: 15px;
    line-height: 52px;
    text-align: center;
    vertical-align: middle;
    color: rgba(255, 255, 255, 1);
    padding: 1px 31px;
    border-radius: 12px;
    border: 1px solid rgba(26, 26, 26, 1);
    background: rgba(26, 26, 26, 1);

}

.discover_main_sec .discover_img img {
    width: 100%;
    height: 567px;
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
}

/* discover section ends */


/* real estate section starts */

.real_estate_main_sec {
    padding-bottom: 150px;
}

.real_estate_heading ul {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;
}

.real_estate_heading ul li {
    list-style: none;
    font-weight: 500;
    font-size: 19px;
    line-height: 36.1px;
    vertical-align: middle;
    color: rgba(26, 26, 26, 1);
}

.real_estate_heading .real {
    width: 95.58px;
    margin-top: 11px;
    border-bottom: 3px solid rgba(26, 26, 26, 1);
}

.real_estate_heading .border {
    border-bottom: 1px solid rgba(233, 233, 233, 1);
}

.real_estate_groups {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 35px;
}

.real_estate_group p {
    margin-bottom: 10px;
    font-weight: 400;
    font-size: 15px;
    line-height: 28.5px;
    vertical-align: middle;
}

.real_last_group {
    padding-right: 50px;
}

/* real estate section ends */

/* main ends */

/* footer starts */

.footer_main_sec {
    height: 780px;
    border-radius: 16px;
    background: rgba(249, 249, 251, 1);
}

/* footer upper main section starts */
.footer_upper_main_sec {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 167px;
    border-bottom: 1px solid rgba(235, 235, 235, 1);
}

.footer_social_links ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 32px;
    list-style: none;
}

.footer_social_links ul li a {
    color: rgba(26, 26, 26, 1);
    text-decoration: none;
    font-weight: 500;
    font-size: 19px;
    line-height: 19px;
    vertical-align: middle;

}

.footer_social_links ul li a i {
    font-weight: 400;
    font-size: 15px;
    line-height: 15px;
    text-align: center;
    vertical-align: middle;
}

/* footer upper main section ends */

/* footer middle main section starts */

.footer_middle_main_sec {
    height: 502px;
    display: flex;
    padding-block: 95px;
    border-bottom: 1px solid rgba(235, 235, 235, 1);
    justify-content: space-between;
}

/* subscribe starts */

.subscribe h2 {
    font-weight: 500;
    font-size: 19px;
    line-height: 19px;
    vertical-align: middle;
    padding-bottom: 30px;
}

.subscribe_input_box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgba(31, 75, 67, 1)
}

.subscribe_input_box input {
    border: none;
    background: transparent;
}

.subscribe_input_box input::placeholder {
    font-weight: 400;
    font-size: 15px;
    line-height: 100%;
    vertical-align: middle;
    color: rgba(26, 26, 26, 1);
}

.subscribe_input_box button {
    border: 1px solid rgba(31, 75, 67, 1);
    background: rgba(31, 75, 67, 1);
    padding: 6px 31px;
    border-radius: 44px;
    color: rgba(255, 255, 255, 1);

    font-weight: 500;
    font-size: 15px;
    line-height: 28.5px;
    text-align: center;
    vertical-align: middle;
    margin-bottom: 13px;
}

.subscribe_input_box button i {
    vertical-align: middle;
}

.subscribe p {
    margin-top: 40px;
    font-weight: 400;
    font-size: 15px;
    line-height: 28.5px;
    vertical-align: middle;
    color: rgba(31, 75, 67, 1);
}

/* subscribe ends */

/* discover links starts */

.discover_links h2 {
    font-weight: 500;
    font-size: 19px;
    line-height: 22.8px;
    vertical-align: middle;
    text-transform: capitalize;
    padding-bottom: 30px;
}

.discover_links ul li {
    list-style: none;
    margin-bottom: 10px;
}

.discover_links ul li a {
    text-decoration: none;
    font-weight: 400;
    font-size: 15px;
    line-height: 28.5px;
    vertical-align: middle;
    color: rgba(31, 75, 67, 1);
}

/* discover links ends */

/* quick links starts */

.quick_links h2 {
    font-weight: 500;
    font-size: 19px;
    line-height: 22.8px;
    vertical-align: middle;
    text-transform: capitalize;
    padding-bottom: 30px;
}

.quick_links ul li {
    list-style: none;
    margin-bottom: 10px;
}

.quick_links ul li a {
    text-decoration: none;
    font-weight: 400;
    font-size: 15px;
    line-height: 28.5px;
    vertical-align: middle;
    color: rgba(31, 75, 67, 1);
}

/* quick links ends */

/* contact us starts */

.contact_us h2 {
    text-transform: capitalize;
    font-weight: 500;
    font-size: 19px;
    line-height: 19px;
    vertical-align: middle;
    color: rgba(26, 26, 26, 1);
    padding-bottom: 30px;
}

.contact_us ul li {
    list-style: none;
    margin-bottom: 10px;
}

.contact_us ul li a {
    text-decoration: none;
    font-weight: 400;
    font-size: 15px;
    line-height: 28.5px;
    vertical-align: middle;
    color: rgba(31, 75, 67, 1);
}

/* contact us ends */

/* our address starts*/

.our_address h2 {
    font-weight: 500;
    font-size: 19px;
    line-height: 19px;
    vertical-align: middle;
    text-transform: capitalize;
    padding-bottom: 30px;
}

.our_address p {
    font-weight: 400;
    font-size: 15px;
    line-height: 28.5px;
    vertical-align: middle;
    color: rgba(31, 75, 67, 1);
}

/* our address ends */

/* get the app starts */

.get_the_app h2 {
    font-weight: 500;
    font-size: 19px;
    line-height: 19px;
    vertical-align: middle;
    padding-bottom: 30px;
}

.apple_btn {
    width: 100%;
    background: rgba(31, 75, 67, 1);
    border: 1px solid rgba(31, 75, 67, 1);
    padding: 13px 53px 13px 25px;
    display: flex;
    align-items: center;
    gap: 16px;
    border-radius: 12px;
    color: rgba(255, 255, 255, 1);
}

.btn_icon i {
    font-size: 21px;
}

.btn_content {
    border-left: 1px solid rgba(225, 218, 218, 0.2);
    padding-left: 16px;
}

.btn_content p {
    font-weight: 400;
    font-size: 13px;
    line-height: 15.6px;
    vertical-align: middle;
    text-align: left;
    margin-bottom: 3px;
}

.btn_content h3 {
    font-weight: 500;
    font-size: 16px;
    line-height: 19.2px;
    vertical-align: middle;
    text-align: left;
}

.google_btn {
    width: 100%;
    background: rgba(31, 75, 67, 1);
    border: 1px solid rgba(31, 75, 67, 1);
    padding: 13px 49px 13px 25px;
    display: flex;
    align-items: center;
    gap: 16px;
    border-radius: 12px;
    color: rgba(255, 255, 255, 1);
}

/* get the app ends */

/* footer middle main section ends */

/* footer copyright main section starts */

.footer_copyright_main_sec p {
    padding-block: 40px;
    font-weight: 400;
    font-size: 15px;
    line-height: 28.5px;
    text-align: center;
    vertical-align: middle;
    color: rgba(31, 75, 67, 1);
}

/* footer copyright main section ends */

/* footer ends */